examples/components/combobox-demo/src/main/resources/org/richfaces/demo/countries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://richfaces.org/demos/countries"
	xmlns:tns="http://richfaces.org/demos/countries" elementFormDefault="unqualified">

	<element name="countries">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element name="country">
					<complexType>
						<sequence>
							<element name="name" />
							<element name="iso" />
							<element name="domain" />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

</schema>